.navbar {
    background-color: rgba(126, 105, 110, 0.7); /* Somewhat transparent white background */
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-radius: 10%;
}

.navbar__item {
    margin-right: 5px;
}

.navbar__item a {
    text-decoration: none;
    color: #1a1a1a;
}

.navbar__item a:hover {
    color: #ff0000; /* Red color on hover */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
